
body{
    padding: 100px;
    height: 100px;
    width: auto;
}
html{
    background-color:wheat;
}

.cotainer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
}

ul {
    list-style-type: none; /* Remove os pontos padrão da lista */
    padding: 0;
}

li {
    margin: 5px 0; /* Ajuste a margem para garantir que os itens fiquem mais próximos */
    display: flex; /* Faz os itens da lista usarem flexbox */
    align-items: center; /* Alinha os itens centralizados verticalmente */
    background-color: aquamarine;
    border-radius: 20px;
    border: 2px solid;
    
}
li:hover {
    background: yellow;

}
li :visited{
    color: red;

}

li::before {
    content: "•"; /* Adiciona um ponto antes dos itens da lista */
    margin-right: 8px; /* Espaçamento entre o ponto e o link */
}

#Principal{
    background-color: red;
    width: 250px;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#formulario{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 4px solid;
    background-color: rgb(26, 160, 158);

}
hr{
    width: 260px;
    border: 2px solid;
    margin: 5px;

}
 .segundario {
    margin: 8px;
 }

 input{
    height:20px;
    margin:3px;
    border-radius: 1px;
    border: 2px solid;

 }
 label{
    display: flex;
    text-align: right;
    margin-left: -130px;
    width: 30px; /* Tamanho fixo para alinhar todos os labels */
    margin-right: 10px;
 }
 button{
    margin-right: 6px;
    padding: 3px;
    margin: 7px;
    border: solid 2px;
    cursor: pointer;
    
 }
 